<!-- <h1>create-registration works!</h1> -->
<div class="logo text-center">
  <img width="100" src="https://dummyimage.com/600x400/000/fff&text=GYM" />
</div>
<div class="registration-form m-3 p-4">
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>FirstName</mat-label>
          <input formControlName="FirstName" matInput placeholder="FirstName" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input formControlName="LastName" matInput placeholder="LastName" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="Email" matInput placeholder="Email" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input formControlName="Mobile" matInput placeholder="Mobile" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Weight</mat-label>
          <input
            formControlName="weight"
            type="number"
            matInput
            placeholder="Weight"
          />
          <mat-icon matSuffix>line_weight </mat-icon>
          <mat-hint>Unit is KGs</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input
            [readonly]="!this.registerForm.value?.weight"
            formControlName="Height"
            type="number"
            matInput
            placeholder="Height"
          />
          <mat-icon matSuffix
            ><i class="fa-thin fa-text-height" area-hidden="true"></i
          ></mat-icon>
          <mat-hint>Unit is Meters</mat-hint>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Bmi</mat-label>
          <input
            readonly
            type="number"
            formControlName="Bmi"
            matInput
            placeholder="Bmi"
          />
          <mat-icon matSuffix
            ><i class="fa fa-sort-numeric-desc" area-hidden="true"></i
          ></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Bmi Result</mat-label>
          <input
            readonly
            type="number"
            formControlName="bmiResult"
            matInput
            placeholder="bmiResult"
          />
          <mat-icon matSuffix
            ><i class="fa fa-check" area-hidden="true"></i
          ></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label id="example-radio-group-label">Do you require trainer?</label>
        <mat-radio-group
          formControlName="TrainerOpt"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let TrainerOpt of ['Yes', 'No']"
            [value]="TrainerOpt"
          >
            {{ TrainerOpt }}
          </mat-radio-button>
        </mat-radio-group>
        <div>Selected option is:</div>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label"> Gender </label>
        <mat-radio-group formControlName="gender" class="example-radio-group">
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let gender of genders"
            [value]="gender"
          >
            {{ gender }}
          </mat-radio-button>
        </mat-radio-group>
        <div>Selected Gender is:</div>
      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label>Select Package</mat-label>
          <mat-select formControlName="package">
            <mat-option *ngFor="let package of packages" [value]="package">
              {{ package }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label>Which of the following is important to you</mat-label>
          <mat-select formControlName="important" multiple>
            <mat-option
              *ngFor="let important of importentlist"
              [value]="important"
            >
              {{ important }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <label id="example-radio-group-label">Have been Gym before? </label>
        <mat-radio-group
          formControlName="haveGymBefore"
          class="example-radio-group"
        >
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let beenGym of ['Yes', 'No']"
            [value]="beenGym"
          >
            {{ beenGym }}
          </mat-radio-button>
        </mat-radio-group>
        <div>Selected option is:</div>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Enquiry date</mat-label>
          <input formControlName="picker" matInput [matDatepicker]="picker" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <button
      *ngIf="!isUpdateActive"
      (click)="submit()"
      class="mt-4"
      mat-raised-button
      color="accent"
    >
      Submit
    </button>

    <button
      *ngIf="isUpdateActive"
      (click)="update()"
      class="mt-4"
      mat-raised-button
      color="accent"
    >
      update
    </button>
  </form>
</div>
